<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222688104462-hr92jk1uh63ble23lvi87n0j605l8b65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222688104462-hr92jk1uh63ble23lvi87n0j605l8b65</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>222688104462-kbi1dsa2odcadp172mf8j8adlt0rg8hm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCA5-6Qx4IrIZgfooYBub4puMixsqSrxEA</string>
	<key>GCM_SENDER_ID</key>
	<string>222688104462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.littlemiracles</string>
	<key>PROJECT_ID</key>
	<string>little-miracles-cfab1</string>
	<key>STORAGE_BUCKET</key>
	<string>little-miracles-cfab1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222688104462:ios:982da6d4a0274c35046c5f</string>
</dict>
</plist>